.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 15px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input:not([type="submit"]):valid {
  border: 2px solid green;
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  /*
      css에서 inherit는 자식요소가 포함된 직속 부모요소의 해당 요소값을 상속받는다는 의미.
    */
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 1s 2s ease-in-out forwards;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    /*
      Element를 browser상에서 100% 보이지 않게(=제거) 하기 위해서
      JS가 필요하다.
    */
  }
}
