.settings-list:nth-child(2) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.settings__setting {
  padding: 20px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:hover {
  box-shadow: 0 2px 1px -1px white;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
